# Python cache and compiled files
__pycache__/
*.py[cod]
*.egg-info/
*.pkl
*.log

# Jupyter
.ipynb_checkpoints/

# Virtual environments
.env
venv/
.venv/

# Data/Output
data/
logs/
checkpoints/
outputs/
*.h5
*.pth

# Ignore intermediate CFR checkpoints
cfr_agent_checkpoint_*.pt

# IDE settings
.vscode/
.idea/

# System files
.DS_Store